* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --Verde1: #405952;
    --Verde2: #9C9B7A;
    --Amarelo1: #FFD393;
    --Laranja1: #FF974F;
    --Laranja2: #F54F29;
}

body {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: fit-content(100%) auto 30px;
    height: 100vh;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
    background-color: var(--Amarelo1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 12vh;
    padding: 20px;
    height: fit-content;
    justify-content: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    grid-template-areas: 
    "containerlist containerinfo containerinfo";
}

#containerlist {
    grid-area: containerlist;
    background-color: wheat;
    min-width: 10vw;
    padding: 10px 5px 10px 10px;
}

#lista {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    height: 100%;
    background-color: white;
    padding: 10px 5px;
    border-radius: 10px;
}

.listitems {
    background-color: var(--Laranja2);
    color: white;
    padding: 20px 20px;
    font-weight: 500;
    border-radius: 10px;
    margin: 5px;
    font-size: 1.2em;
}

.listitems:hover, .listitems:focus {
    background-color: var(--Laranja1);
}

.listitems:focus {
    color: var(--Verde1);
    font-weight: bolder;
    box-shadow: 0px 1px 1px 1px #405952;
}

#containerinfo {
    grid-area: containerinfo;
    background-color: wheat;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    #containerinfo {
        justify-content: center;
    }
}
#containerquadro {
    background-color: white;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 50px 50px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2) ;
}

.display {
    background-color: var(--Laranja2);
    min-height: 50px;
    margin: 5px;
    color: white;
    font: bold;
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    box-shadow: inset -4px 0px #FF974F, inset -5px 0px #F54F29;
}

#foto {
    border-radius: 50%;
    max-height: 180px;
    width: auto;
    overflow: hidden;
    align-self: center;
    margin: 20px;
    box-shadow: 0px 0px 0px 10px #F54F29, 0px 0px 0px 15px #FF974F;
}

#foto img {
    width:100%;
    vertical-align:middle;
}


footer {
    grid-area: footer;
    background-color: var(--Amarelo1);
    font-weight: bold;
    color: var(--Verde1);
}