* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --Verde1: #405952;
    --Verde2: #9C9B7A;
    --Amarelo1: #FFD393;
    --Laranja1: #FF974F;
    --Laranja2: #F54F29;
}

body {
    background-color: var(--Verde1);
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% auto 3%;
    height: 100vh;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
    background-color: var(--Amarelo1);
}

main {
    grid-area: main;
    background-color: var(--Verde2);
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "containerlist containerinfo containerinfo";
}

#containerlist {
    grid-area: containerlist;
    background-color: white;
}

#containerinfo {
    grid-area: containerinfo;
    background-color: wheat;
}


footer {
    grid-area: footer;
    background-color: var(--Amarelo1);
}