* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --Verde1: #405952;
    --Verde2: #9C9B7A;
    --Amarelo1: #FFD393;
    --Laranja1: #FF974F;
    --Laranja2: #F54F29;
}

